
@{
    ViewBag.Title = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Index";
}

<h1 style="color:gray">Admin Index Page</h1>
<h1 style="color:gray">Admin Index Page</h1>
<h1 style="color:gray">Admin Index Page</h1>
<h1 style="color:gray">Admin Index Page</h1>
<h1 style="color:gray">Admin Index Page</h1><h1 style="color:gray">Admin Index Page</h1>
<h1 style="color:gray">Admin Index Page</h1>

