@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<section id="hero" class="main-feature">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>Welcome Adolfo!</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="info-section light-grey">
    <div class="row">
        <div class="col-md-12">
            <div class="cta">
                <div class="cta-row cta-slider">
                    <h1>Section One</h1>
                   @* @foreach (var item in Model.NextSteps)
                    {
                        @item.HtmlContent
                    }*@

                </div>
            </div>
        </div>
    </div>
</section>

<section class="info-section dark-grey">
    <div class="row">
        <div class="col-md-12">
            <div class="call-to-action">
                <h1>Section 2</h1>
            </div>
        </div>
    </div>
</section>

<section class="info-section light-grey">
    <div class="row">
        <div class="col-md-12">
            <div class="cta">
                <div class="cta-row cta-slider">
                    <h1>Section 3</h1>
                   @* @foreach (var item in Model.NextSteps)
                    {
                        @item.HtmlContent
                    }*@

                </div>
            </div>
        </div>
    </div>
</section>

<section class="info-section dark-grey">
    <div class="row">
        <div class="col-md-12">
            <div class="call-to-action">
                <h1>Section 4</h1>
            </div>
        </div>
    </div>
</section>