@using lucid.Models

@model Employee

@{
    ViewData["Title"] = "Add a New Employee";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="@ViewData["AssetHost"]/css/create.css" type="text/css" asp-append-version="true" />
}

<section id="hero" class="main-feature">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1></h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="info-section dark-grey">
    <div class="row">
        <div class="background-card">
            <form asp-action="Edit" class="form">
                <div asp-validation-summary="ModelOnly"></div>
                <h3>Update Employee</h3>
                <div class="form-group">
                    <div class="form-item">
                        <label asp-for="FirstName" class="control-label">First Name</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>




                <div>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</section>