
@{
    ViewBag.Title = "Employee";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Employee";
}

<h1 style="color:gray">Employee Index Page</h1>
<h1 style="color:gray">Employee Index Page</h1>
<h1 style="color:gray">Employee Index Page</h1>
<h1 style="color:gray">Employee Index Page</h1>
<h1 style="color:gray">Employee Index Page</h1>
<h1 style="color:gray">Employee Index Page</h1>
<h1 style="color:gray">Employee Index Page</h1>
<h1 style="color:gray">Employee Index Page</h1>
<h1 style="color:gray">Employee Index Page</h1>

