
@{
    ViewBag.Title = "Teams";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Teams";
}

<h1 style="color:gray">Teams Index Page</h1>
<h1 style="color:gray">Teams Index Page</h1>
<h1 style="color:gray">Teams Index Page</h1>
<h1 style="color:gray">Teams Index Page</h1>
<h1 style="color:gray">Teams Index Page</h1>
<h1 style="color:gray">Teams Index Page</h1>
<h1 style="color:gray">Teams Index Page</h1>
<h1 style="color:gray">Teams Index Page</h1>
<h1 style="color:gray">Teams Index Page</h1>

